<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
</head>
<body>
	<header>
		<form id="header-form">
			<input type="text" name="">
			<button disabled></button>
		</form>
	</header>
	<main id="channel-list">
		{% for channel in channels %}
		<div>
			<h2>{{channel}}</h2>
			<button data-open="false">Open</button>
		</div>
		{% endfor %}
	</main>
</body>
</html>